/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones_Big (landscape) ----------- */
@media only screen and (max-width : 768px) {
	#home > footer > div img.food {
		display: none;
	}

	.icon{
		position: relative;
	}

	/*#teQuieroVerde .section3 {
  		padding: 40px
  	}*/

  	#teQuieroVerde .section4 img {
	  	width: 250%;
	  	margin-left: -72%;
	}

  	#teQuieroVerde .section4 > .heartSection {
  		background-size: 100% 100%;
  	}

  	#buenLatido .section5 form {
	  	width: 100%;
	}

	#home div > p {
  		padding-left: 44%;
	}

	#coraZona .section1 {
  		padding: 5%;
	}

	#teQuieroVerde .section3 ,#teQuieroVerde .section5 > .step1, #teQuieroVerde .section5 > .step2, #teQuieroVerde .section5 > .step3, #teQuieroVerde .section5 > .step4 {
	  	padding: 29px;
	}

	#coraZona > #slide1 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  		margin-left: -72%;
		width: 250%;
		max-width: 250%;
	}

	#coraZona > #slide2 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  		margin-left: -72%;
		width: 250%;
		max-width: 250%;
	}

	#teQuieroVerde .section5 > .step1 > p, #teQuieroVerde .section5 > .step2 > p, #teQuieroVerde .section5 > .step3 > p, #teQuieroVerde .section5 > .step4 > p {
  		margin-bottom: 134px;
	}

	#corazonCurioso .carousel-control.right {
	  	right: 25%;
	}

	#corazonCurioso .carousel-control.left {
  		left: 22%;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	h1 > .title2 { /* nuevo */
		font-size: 80%;
	}

	h1 > .title1 { /* nuevo */
	  	font-size: 88%;
	  	line-height: 30px;
	}

	h1 > .title3 { /* nuevo */
 		font-size: 100%;
	}

	#home .logotipo {
  		width: 100%;
	}

	#home .slogan{
		font-size: 20px;
	}

	#home div > p {
  		padding-left: 31%;
	}

	#corazonCurioso .carousel-control.left {
		top: 67%;
  		left: 16%;
	}

	#corazonCurioso .carousel-control.right {
		right: 17%;
		margin-top: 68%;
	}

	#corazonCurioso .carousel-control.right span {
		top: 24%;
		right: 39%;
		position: absolute;
	}

	#corazonCurioso .carousel-control.left span {
		position: absolute;
		top: 11px;
		left: 35px;
	}

	#coraZona .section1, #teQuieroVerde .section5 > .step1, #teQuieroVerde .section5 > .step2, #teQuieroVerde .section5 > .step3, #teQuieroVerde .section5 > .step4, #teQuieroVerde .section3, #teQuieroVerde .section1, #corazonCurioso .section1, #buenLatido .section1, #buenLatido .section2, #buenLatido .section3, #buenLatido .section4, #buenLatido .section5 {
  		padding: 20px;
	}

	#teQuieroVerde .section1 p, #teQuieroVerde .section3 p, #teQuieroVerde .section4 p, #teQuieroVerde .section5 p {
  		font-size: 15px;
  		margin-top: 15px;
  		line-height: 15px;
	}

	h1 > .title2, h1 > .title3 { /* nuevo */
  		/*line-height: 46px;*/
  		line-height: 31px;
	}

	.step1 > h1 .title2, .step2 > h1 .title2, .step3 > h1 .title2, .step4 > h1 .title2 {
		font-size: 188%;
		line-height: 46px; 
	}

	#teQuieroVerde .section5 > .step1 > p, #teQuieroVerde .section5 > .step2 > p, #teQuieroVerde .section5 > .step3 > p, #teQuieroVerde .section5 > .step4 > p {
		font-size: 20px;
  		margin-bottom: 134px;
  		line-height: 19px;
	}
	
	#corazonCurioso .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  		margin-left: -72%;
		width: 250%;
		max-width: 250%;
	}

	#corazonCurioso .section1 > p, #buenLatido .section1 p, #buenLatido .section2 > p, #buenLatido .section3 > p, #buenLatido .section4 > p, #coraZona p {
	  	font-size: 15px;
	  	line-height: 15px;
	}

	#buenLatido .section2 > p, #buenLatido .section3 > p, #buenLatido .section4 > p {
	  	margin-bottom: 50px;
	}

	#buenLatido .section2 > h1, #buenLatido .section3 > h1, #buenLatido .section4 > h1 {
	  	margin-bottom: 13px;
	}

	#buenLatido .section5 > p{
  		font-size: 20px;
  		line-height: 19px;
	}

	#coraZona > #slide1 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  		margin-left: -72%;
		width: 250%;
		max-width: 250%;
	}

	#coraZona > #slide2 .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  		margin-left: -72%;
		width: 250%;
		max-width: 250%;
	}

	#home .logo {
  		height: 478px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 480px) {
	#home .logotipo {
  		width: 100%;
	}

	#home .slogan{
		font-size: 20px;
	}

	#home div > p {
  		padding-left: 35%;
	}

	#corazonCurioso .carousel-control.left {
		top: 57%;
  		left: 120px;
	}

	#corazonCurioso .carousel-control.right {
		right: 27%;
  		margin-top: 23%;
	}

	#corazonCurioso .carousel-control.right span {
		top: 24%;
		right: 39%;
		position: absolute;
	}

	#corazonCurioso .carousel-control.left span {
		position: absolute;
		top: 11px;
		left: 35px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 580px) {
	#home .logotipo {
	  	width: 100%;
	}

	#home .slogan{
		font-size: 20px;
	}

	#corazonCurioso .carousel-control.left {
		top: 57%;
  		left: 120px;
	}

	#corazonCurioso .carousel-control.right {
		right: 27%;
  		margin-top: 23%;
	}

	#corazonCurioso .carousel-control.right span {
		top: 24%;
		right: 39%;
		position: absolute;
	}

	#corazonCurioso .carousel-control.left span {
		position: absolute;
		top: 11px;
		left: 35px;
	}
}

@media only screen and (min-width : 581px) and (max-width : 603px) {
	#home div > p {
  		padding-left: 250px;
	}

	#home div > a {
		margin-left: -38px;
	}

	#corazonCurioso .carousel-control.left {
		top: 62%;
  		left: 184px;
	}

	#corazonCurioso .carousel-control.right {
		right: 33%;
		margin-top: 25%;
	}

	#corazonCurioso .carousel-control.right span {
		top: 24%;
		right: 39%;
		position: absolute;
	}

	#corazonCurioso .carousel-control.left span {
		position: absolute;
		top: 11px;
		left: 35px;
	}
}

@media only screen and (min-width : 604px) and (max-width : 768px) {
	#home div > p {
  		padding-left: 48%;
	}

	#corazonCurioso .carousel-control.left {
		top: 67%;
		left: 267px;
	}

	#corazonCurioso .carousel-control.right {
		right: 37%;
  		margin-top: 27%;
	}

	#corazonCurioso .carousel-control.right span {
		top: 24%;
		right: 39%;
		position: absolute;
	}

	#corazonCurioso .carousel-control.left span {
		position: absolute;
		top: 11px;
		left: 35px;
	}
}

@media only screen and (min-width : 769px) and (max-width : 966px) {
	#home div > p {
  		padding-left: 23%;
	}

	#corazonCurioso .carousel-control.left {
		top: 67%;
  		left: 344px;
	}

	#corazonCurioso .carousel-control.right {
		right: 38%;
  		margin-top: 27%;
	}

	#corazonCurioso .carousel-control.right span {
		top: 24%;
		right: 39%;
		position: absolute;
	}

	#corazonCurioso .carousel-control.left span {
		position: absolute;
		top: 11px;
		left: 35px;
	}
}

@media only screen and (min-width : 967px) and (max-width : 1024px) {
	#home div > p {
  		padding-left: 78px;
	}

	#corazonCurioso .carousel-control.left {
		top: 67%;
		left: 364px;
	}

	#corazonCurioso .carousel-control.right {
		right: 38%;
		margin-top: 27%;
	}

	#corazonCurioso .carousel-control.right span {
		top: 24%;
		right: 39%;
		position: absolute;
	}

	#corazonCurioso .carousel-control.left span {
		position: absolute;
		top: 11px;
		left: 35px;
	}
}

@media only screen and (min-width : 1025px) and (max-width : 1680px) {
	#home div > p {
  		padding-left: 31%;
	}

	#corazonCurioso .carousel-control.left {
		top: 67.5%;
  		left: 35%;
	}

	#corazonCurioso .carousel-control.right {
		right: 37.3%;
		margin-top: 27%;
	}

	#corazonCurioso .carousel-control.right span {
		position: absolute;
		top: 36%;
  		right: 43%;
	}

	#corazonCurioso .carousel-control.left span {
		left: 65px;
		position: absolute;
		top: 26px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
	#home div > p {
  		padding-left: 118px;
	}
}

/* mac 11" */
@media only screen and (min-width : 1366px) and (max-width : 1366px) {
	#home div > p {
		padding-left: 37%;
	}	

	#corazonCurioso .carousel-control.left {
		top: 67%;
		left: 486px;
	}

	#corazonCurioso .carousel-control.right {
		right: 38%;
		margin-top: 27%;
	}

	#corazonCurioso .carousel-control.right span {
		position: absolute;
		top: 36%;
  		right: 43%;
	}

	#corazonCurioso .carousel-control.left span {
		left: 65px;
		position: absolute;
		top: 26px;
	}
}

/* mac 13" */
@media only screen and (min-width : 1280px) and (max-width : 1280px) {
	#home div > p {
		padding-left: 35%;
	}
}

/* mac 15" */
@media only screen and (min-width : 1440px) and (max-width : 1440px) {
	#home div > p {
		padding-left: 37%;
	}
}

/* mac 17" */
@media only screen and (min-width : 1920px) and (max-width : 1920px) {
	#home div > p {
		padding-left: 45%;
	}

	#corazonCurioso .carousel-control.left {
		top: 66.5%;
		left: 678px;
	}

	#corazonCurioso .carousel-control.right {
		right: 38%;
		margin-top: 27%;
	}

	#corazonCurioso .carousel-control.right span {
		position: absolute;
		top: 36%;
  		right: 43%;
	}

	#corazonCurioso .carousel-control.left span {
		left: 90px;
		position: absolute;
		top: 37px;
	}
}

/* mac 27" */
@media only screen and (min-width : 2560px) and (max-width : 2560px) {
	#home div > p {
		padding-left: 45%;
	}

	#home div > a > img {
		margin-left: -45px !important;
	}	

	#home div > p {
  		padding-left: 285px;
	}

	#corazonCurioso .carousel-control.left {
		top: 67%;
		left: 908px;
	}

	#corazonCurioso .carousel-control.right {
		right: 38%;
		margin-top: 27%;
	}

	#corazonCurioso .carousel-control.right span {
		font-size: 39px;
		position: absolute;
		right: 43%;
		top: 32%;
	}

	#corazonCurioso .carousel-control.left span {
		font-size: 39px;
		left: 124px;
		position: absolute;
		top: 46px;
	}
}

@media only screen and (min-width : 2880px) and (max-width : 2880px) {
	#home div > p {
		padding-left: 95px;
	}
}