/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones_Big (landscape) ----------- */
@media only screen and (max-width : 768px) {
	#home > footer > div img.food {
		display: none;
	}

	.icon{
		position: relative;
	}

	#icon1{
		top: -92px;
	}

	#icon2{
		top: -125px;
	}

	#icon3{
		top: -100px;
	}

	#icon4{
		top: -102px;
	}

	#icon1, #icon2, #icon3, #icon4{
		right: -60px;
	}
}


/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 580px) {
	.logotipo {
	  	width: 100%;
	}

	.slogan{
		font-size: 20px;
	}

}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 321px) {
	
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}