@font-face {
	font-family: 'dk_lemon_yellow_sun';
	src: url('../fonts/dk_lemon_yellow_sun.otf');
}

@font-face {
	font-family: 'simplicity';
	src: url('../fonts/simplicity.ttf');
}

::-webkit-scrollbar {  
    /*display: none;*/
}

body {
	overflow-x: hidden;
}

/* HELPERS */
a, a:hover, a:visited, a:focus {
	color: #fff;
	font-family: 'dk_lemon_yellow_sun';
	text-decoration: none;
	cursor: pointer;
}

h1 {
	margin: 0;
	margin-bottom: 13px;
}

p {
	font-family: 'simplicity';
	line-height: 26px;
}

.whitefonts{
	color: #fff;
}

.greyfonts{
	color: #939598;
}

.limaColorClass{
	background-color: #a1d294;
}

.lima2ColorClass{
	background-color: #b5dcc5;
}

.lima3ColorClass{
	background-color: #abddde;
}

.lima4ColorClass{
	background-color: #5bc4bd;
}

.lima5ColorClass{
	background-color: #aadac5;
}

.lima6ColorClass{
	background-color: #b6dbf4;
}

.lima7ColorClass{
	background-color: #bfcde9;
}

.rosaColorClass{
	background-color: #f38bb2;
}

.rosa2ColorClass{
	background-color: #eeaccd;
}

.azulColorClass{
	background-color: #86abd2;
}

.azul2ColorClass{
	background-color: #B6DBF4;
}

.moradoColorClass{
	background-color: #BFCDE9;
}

.morado2ColorClass{
	background-color: #DCD7EB;
}

.morado3ColorClass{
	background-color: #E3BCD9;
}

.amarilloColorClass{
	background-color: #f9e086;
}

p > .title1{
	font-size: 188%;
}

p > .title2{
	font-size: 238%;
}

p > .title3{
	font-size: 266%;
}

h1 > .title1{
	font-size: 138%;
	line-height: 30px;
}

h1 > .title2{
	font-size: 188%;
}

h1 > .title3{
	font-size: 216%;
}

h1 > .title2, h1 > .title3{
	line-height: 74px;
}

.title1, .title2, .title3{
	display: block;
	font-family: 'dk_lemon_yellow_sun';
}

p > .title1, p > .title2, p > .title3{
	line-height: 32px;
}

a.prev {
	background-image: url("../img/prev.png");
	background-repeat: no-repeat;
	padding: 22px 49px;
  	background-size: 100%;
  	margin-right: 10px;
}

a.next {
	background-image: url("../img/next.png");
	background-repeat: no-repeat;
	padding: 22px 49px;
  	background-size: 100%;
  	margin-left: 10px;
}

/* HOME */
#home .slogan{
	color: #939598;
	font-family: 'simplicity';
	font-size: 30px;
}

#home>footer>div{
	padding: 0px;
}

#home div {
	margin: 0;
}

#home div > p {
	padding: 0;
	padding-left: 140px;
}

#home div > a {
	padding: 0;
}

#home div.section1 div > a > img {
	padding-top: 53px;
	width: 51px;
}

#home div.section2 div > a > img {
	margin-left: 29px;
	width: 39px;
}

#home div.section3 div > a > img {
	margin-left: 10px;
	margin-top: 17px;
	width: 53px;
}

#home div.section4 div > a > img {
	margin-left: 2px;
	margin-top: 7px;
	width: 54px;
}

#home div.section1 div.colorClass {
	padding-top: 94px;
	padding-bottom: 110px;
	max-height: 302px;
}

#home div div.colorClass {
	padding-top: 126px;
	padding-bottom: 110px;
	min-height: 302px;
	max-height: 302px;
}

#home .logotipo{
	margin-bottom: 10px;
	width: 450px;
}

#home .logo{
	height: 603px;
	padding: 70px
}

#home > footer > div img.food{
	width: 100%;
}

/* TE QUIERO VERDE */
.imgs>div{
	margin: 0;
	padding: 0;
}

.imgs img{
	width: 100%;
}

#teQuieroVerde .section1 {
	padding: 29px;
}

#teQuieroVerde .section1 > h1{
	margin: 0;
}

#teQuieroVerde .section2 {
	height: 467px;
}

#teQuieroVerde .section2 > img.heart {
	width: 319px;
}

#teQuieroVerde .section2 > .links {
	top: -30px;
  	position: relative;
}

#teQuieroVerde .section2 > h1 {
	padding-top: 38px;
}

#teQuieroVerde .section3 {
	padding: 100px;
	padding-bottom: 138px;
}

#teQuieroVerde .section4 {
	/*padding: 50px;
	padding-bottom: 75px;*/
}

#teQuieroVerde .section4 img{
	width: 100%;
}

#teQuieroVerde .section4 > .heartSection {
	background-image: url("../img/te_quiero_verde/heart_white.png");
	background-repeat: no-repeat;
	background-size: 30% 100%;
	height: 281px;
	background-position: 50%;
}

#teQuieroVerde .section4 > .heartSection ul {
  	padding: 0;
	padding-top: 70px;
}

#teQuieroVerde .section4 > .heartSection li {
	list-style: none;
	font-family: 'simplicity';
	font-size: 24px;
}

#teQuieroVerde .section5 > .step1,
#teQuieroVerde .section5 > .step2,
#teQuieroVerde .section5 > .step3,
#teQuieroVerde .section5 > .step4 {
	padding: 47px;
}

#teQuieroVerde .section5 > .step1 > p,
#teQuieroVerde .section5 > .step2 > p,
#teQuieroVerde .section5 > .step3 > p,
#teQuieroVerde .section5 > .step4 > p {
	height: 140px;
	margin-bottom: 229px;
}

#teQuieroVerde .section5 > .step1 > h1,
#teQuieroVerde .section5 > .step2 > h1,
#teQuieroVerde .section5 > .step3 > h1,
#teQuieroVerde .section5 > .step4 > h1 {
	margin-bottom: 174px;
}

#teQuieroVerde .section1 p,
#teQuieroVerde .section3 p,
#teQuieroVerde .section4 p,
#teQuieroVerde .section5 p {
	font-size: 26px;
	max-width: 447px;
  	margin: 0 auto;
}

/* CORAZON CURIOSO */
#corazonCurioso .section1{
	padding: 65px;
	padding-bottom: 84px;
}

#corazonCurioso .section1 > p {
	font-size: 26px;
}

#corazonCurioso .carousel-caption > .heartSection {

}

#corazonCurioso .carousel-caption > .heartSection p {
	font-family: 'simplicity';
	font-size: 24px;
	margin: 0 auto;
	max-width: 230px;
}

/* BUEN LATIDO */

#buenLatido .section1 {
	padding: 64px;
	padding-bottom: 83px;
}

#buenLatido .section2,
#buenLatido .section3,
#buenLatido .section4,
#buenLatido .section5 {
	padding: 85px;
	padding-bottom: 84px;
}

#buenLatido .section2 > h1,
#buenLatido .section3 > h1,
#buenLatido .section4 > h1,
#buenLatido .section5 > h1 {
	margin-bottom: 80px;
}

#buenLatido .section2 > a,
#buenLatido .section3 > a,
#buenLatido .section4 > a {
	margin-bottom: 35px;
	display: block;
}

#buenLatido .section2 > a:last-child,
#buenLatido .section3 > a:last-child,
#buenLatido .section4 > a:last-child {
	margin-bottom: 0px;
}

#buenLatido a,
#buenLatido p {
	font-size: 26px;
}

#buenLatido .section1 p {
	margin: 0 auto;
	max-width: 447px;
}

#buenLatido .section5 form {
  	margin: 0 auto;
	width: 31em;
}

/* CORA-ZONA */
#coraZona .section1 {
	padding: 104px;
}

#coraZona a,
#coraZona p {
	font-size: 26px;
}

/* BOOTSTRAP */
/*.carousel-inner {
  	height: 464px;
}*/

#corazonCurioso .carousel-control {
	width: 4%;
}

#corazonCurioso .carousel-control.left {
	left: 36%;
	background-image: url("../img/prev.png");
	background-repeat: no-repeat;
  	background-size: 100%;
  	margin-right: 10px;
  	width: 12%;
	height: 14%;
}

#corazonCurioso .carousel-control.left {
	top: 72%;
}

#corazonCurioso .carousel-control.right {
	right: 38%;
	background-image: url("../img/next.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 12%;
	height: 14%;
	margin-top: 29%;
}

#corazonCurioso .carousel-control.right span {
	top: 34%;
  	right: 41%;
}

.carousel-control.right {
	right: 0;
	left: auto;
	background-image: none;
	background-repeat: no-repeat;
}

.carousel-control.left {
  	background-image: none;
	background-repeat: no-repeat;
}

#corazonCurioso .carousel-caption {
  	top: 150px;
}

#corazonCurioso .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  	margin: 0 auto;
	width: 100%;
}