<section id="buenLatido" class="text-center whitefonts">
	<div class="row imgs" style="margin: 0px;">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/buen_latido/foto1.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/buen_latido/foto2.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/buen_latido/foto3.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/buen_latido/foto4.jpg">
		</div>
	</div>
	<div class="section1 azulColorClass">
		<h1>
			<span class="title2">Buen</span>
			<span class="title3">Latido</span>
		</h1>
		<p>
			Aquí puedes descubrir las recetas que a tu corazón le gustará probar.
		</p>
	</div>
	<div class="section2 azul2ColorClass">
		<h1>
			<span class="title2">recetas</span>
		</h1>
		<a target="_blank" href="http://saschafitness.com/category/fit-menu/recetas/">Recetas de Sascha Fitness</a>
		<a target="_blank" href="http://www.recetasdecocinadesergio.com/recetas/sanas-faciles">Recetas del señor Señor</a>
		<a target="_blank" href="https://www.wong.com.pe/comesano/recetas/">Come Sano Wong</a>
		<a target="_blank" href="http://www.cocinaligera.es/Cocina_Ligera_Todas_las_recetas_489b2f530dc9c.htm">Recetas de Cocina Ligera y Sana</a>
		<a target="_blank" href="http://www.womenshealthmag.com/nutrition">Recetas de Women's Health Magazine</a>
		<a target="_blank" href="http://www.lavidaorganic.com/cocina/">Cocina de La Vida Orgánica</a>
		<a target="_blank" href="http://www.lavidaorganic.com/nutricion/">Nutrición de La Vida Orgánica</a>
		<a target="_blank" href="https://instagram.com/orlandomalkun_chef/">Instagram de Orlando Malkun, fitness Chef</a>
		<a target="_blank" href="http://vitahealthyfitness.com/category/recetas/">Recetas de Vita, Healthy & Fitness</a>
		<a target="_blank" href="https://instagram.com/sabeamor/">Instagram de SabeAmor</a>
		<a target="_blank" href="http://www.nutricioninnovadora.com/es/Recetas">Recetas Nutri Inn</a>
		<a target="_blank" href="http://www.fitnessblender.com/articles">Fitness Blender, nutrición y artículos</a>
		<a target="_blank" href="https://instagram.com/caro_baezb/">Instagram de Carolina Baez</a>
		<a target="_blank" href="http://noesdieta.com/es/about/">Recetas de No es Dieta</a>
	</div>
	<div class="section3 moradoColorClass">
		<h1>
			<span class="title2">ejercicios</span>
		</h1>
		<a target="_blank" href="http://saschafitness.com/category/fitness/">Ejercicios de Sascha Fitness</a>
		<a target="_blank" href="http://www.womenshealthmag.com">Recetas de Women's Health Magazine</a>
		<a target="_blank" href="http://www.lifttogetlean.com/lifttogetlean/index?cid=web_wh.com_sub-nav_047492&keycode=252557">Lift like a girl, look like a Goddess</a>
		<a target="_blank" href="https://instagram.com/fun2fit/">Instagram de Fun2Fit</a>
		<a target="_blank" href="https://instagram.com/marcelabarajas_fitness/">Instagram de Marcela Barajas</a>
		<a target="_blank" href="https://www.facebook.com/pages/Anllela-Sagra/466521906818912">Facebook de Anllela Sagra</a>
		<a target="_blank" href="http://zonarosa.expressnews.uk.com/tus-artistas/zona-deportiva/nota512-entrenamiento-al-maximo-minimo-tiempo">Ejecicios de Gente Rosa</a>
		<a target="_blank" href="http://www.fitnessblender.com/plans">Ejercicios de Fitness Blender</a>
		<a target="_blank" href="http://www.bodybuilding.com/exercises/">Ejercicios de Body Building </a>
	</div>
	<div class="section4 morado2ColorClass">
		<h1>
			<span class="title2">videos</span>
		</h1>
		<a target="_blank" href="https://www.youtube.com/user/saschafitness">Canal de Sascha Fitness</a>
		<a target="_blank" href="http://www.womenshealthmag.com/video#/video/all">Videos de Women's Health Magazine</a>
		<a target="_blank" href="https://www.youtube.com/user/modelmichellelewin">Canal de Michelle Lewin</a>
		<a target="_blank" href="https://www.youtube.com/user/MagoFitness">Mago Fitness</a>
	</div>
	<div class="section5 morado3ColorClass">
		<h1>
			<span class="title2">comparte</span>
		</h1>
		<p>Escribe aqui el link de lo que tu corazón quiere compartir</p>
		<form action="">
			<div class="input-group input-group-lg">
      			<input ng-model="myUrl" type="text" class="form-control">
      			<span class="input-group-btn">
        			<button ng-click="sendUrl()" class="btn btn-default" type="button">Enviar</button>
      			</span>
    		</div>
		</form>
	</div>
</section>