<section id="corazonCurioso" class="text-center whitefonts">
	<div class="row imgs" style="margin: 0px;">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/corazon_curioso/foto1.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/corazon_curioso/foto2.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/corazon_curioso/foto3.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/corazon_curioso/foto4.jpg">
		</div>
	</div>
	<div class="section1 rosaColorClass">
		<h1>
			<span class="title2">corazón</span>
			<span class="title3">curioso</span>
		</h1>
		<p>
			Datos alimenticios y ejercicios<br>para tu corazón
		</p>
	</div>
	<div id="slide1" class="carousel slide rosa2ColorClass" data-ride="carousel">
  		<div class="carousel-inner" role="listbox">
    		<div class="item active">
      			<img src="assets/img/corazon_curioso/slide/1.png" alt="...">
				<!-- <div class="carousel-caption">
					<div class="heartSection">
						<p class="greyfonts">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora debitis reprehenderit amet consequatur cupiditate nostrum voluptas unde.
						</p>
					</div>
				</div> -->
			</div>
    		<div class="item">
      			<img src="assets/img/corazon_curioso/slide/2.png" alt="...">
    		</div>
    		<div class="item">
      			<img src="assets/img/corazon_curioso/slide/3.png" alt="...">
    		</div>
    		<div class="item">
      			<img src="assets/img/corazon_curioso/slide/4.png" alt="...">
    		</div>
    		<div class="item">
      			<img src="assets/img/corazon_curioso/slide/5.png" alt="...">
    		</div>
    		<div class="item">
      			<img src="assets/img/corazon_curioso/slide/6.png" alt="...">
    		</div>
  		</div>

  		<a ng-click="clickPrev()" class="left carousel-control buttonPrev prev" role="button" data-slide="prev">
    		<!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
    		<span>Atrás</span>
  		</a>
		<a ng-click="clickNext()" class="right carousel-control buttonNext next" role="button" data-slide="next">
			<!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
			<span>Sigue</span>
		</a>
	</div>
</section>