<section id="coraZona" class="text-center whitefonts">
	<div class="row imgs" style="margin: 0px;">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/cora_zona/foto1.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/cora_zona/foto2.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/cora_zona/foto3.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/cora_zona/foto4.jpg">
		</div>
	</div>
	<div class="section1 amarilloColorClass">
		<h1>
			<span class="title2">cora-zona</span>
		</h1>
		<p>
			Te decimos lugares de Barranquilla que<br> a tu corazón le gustará
		</p>
	</div>
	<!-- <div class="section5 morado3ColorClass">
		<h1>
			<span class="title2">comparte</span>
		</h1>
		<p>Escribe aqui el link de lo que tu corazón quiere compartir</p>
		<form action="">
			<div class="input-group input-group-lg">
      			<input type="text" class="form-control">
      			<span class="input-group-btn">
        			<button class="btn btn-default" type="button">Enviar</button>
      			</span>
    		</div>
		</form>
	</div> -->
</section>