<section id="home" class="text-center whitefonts">
	<header class="logo">
		<img src="assets/img/home/logo.png" class="logotipo">
		<p class="slogan">Comienza una vida sana</p>
	</header>
	<footer>
		<div class="section1 col-md-3 col-sm-3">
			<img src="assets/img/home/foto1.jpg" class="food">
			<div class="row colorClass limaColorClass">
				<p class="col-md-7 col-sm-7 col-xs-7">
					<span class="title1">te</span>
					<span class="title2">quiero</span>
					<span class="title3">verde</span>
				</p>
				<a href="#/te-quiero-verde" id="icon1" class="icon col-md-2 col-sm-2 col-xs-2">
					<img src="assets/img/home/icon1.png">
				</a>
			</div>
		</div>
		<div class="section2 col-md-3 col-sm-3">
			<img src="assets/img/home/foto2.jpg" class="food">
			<div class="row colorClass rosaColorClass">
				<p class="col-md-7 col-sm-7 col-xs-7">
					<span class="title2">corazón</span>
					<span class="title3">curioso</span>
				</p>
				<a href="#/corazon-curioso" id="icon2" class="icon col-md-2 col-sm-2 col-xs-2">
					<img src="assets/img/home/icon2.png">
				</a>
			</div>
		</div>
		<div class="section3 col-md-3 col-sm-3">
			<img src="assets/img/home/foto3.jpg" class="food">
			<div class="row colorClass azulColorClass">
				<p class="col-md-7 col-sm-7 col-xs-7">
					<span class="title2">buen</span>
					<span class="title3">latido</span>
				</p>
				<a href="#/buen-latido" id="icon3" class="icon col-md-2 col-sm-2 col-xs-2">
					<img src="assets/img/home/icon3.png">
				</a>
			</div>
		</div>
		<div class="section4 col-md-3 col-sm-3">
			<img src="assets/img/home/foto4.jpg" class="food">
			<div class="row colorClass amarilloColorClass">
				<p class="col-md-7 col-sm-7 col-xs-7">
					<span class="title2">cora</span>
					<span class="title3">zona</span>
				</p>
				<a href="#/cora-zona" id="icon4" class="icon col-md-2 col-sm-2 col-xs-2">
					<img src="assets/img/home/icon4.png">
				</a>
			</div>
		</div>
	</footer>
</section>