<section id="teQuieroVerde" class="text-center whitefonts">
	<div class="row imgs" style="margin: 0px;">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="./assets/img/te_quiero_verde/recetas/{{ receta_current.index }}/foto1.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="./assets/img/te_quiero_verde/recetas/{{ receta_current.index }}/foto2.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="./assets/img/te_quiero_verde/recetas/{{ receta_current.index }}/foto3.jpg">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="./assets/img/te_quiero_verde/recetas/{{ receta_current.index }}/foto4.jpg">
		</div>
	</div>
	<div class="section1 limaColorClass">
		<h1>
			<span class="title1">te</span>
			<span class="title2">quiero</span>
			<span class="title3">verde</span>
		</h1>
		<p>
			Aprende a hacer recetas faciles<br>y saludables para tu corazón
		</p>
	</div>
	<div class="section2 lima2ColorClass">
		<h1>
			<span style="line-height: 51px; font-size: 115%;" class="title2">prepáralo</span>
		</h1>
		<img src="./assets/img/te_quiero_verde/recetas/{{ receta_current.index }}/heart.png" class="heart">
		<div class="links">
			<a href="" class="prev" ng-click="change(receta_current.id, 'prev');">atrás</a>
			<a href="" class="next" ng-click="change(receta_current.id, 'next');">sigue</a>
		</div>
	</div>
	<div class="section3 lima3ColorClass">
		<h1>
			<span class="title1">{{ receta_current.name.title1 }}</span>
			<span class="title2">{{ receta_current.name.title2 }}</span>
			<span class="title3">{{ receta_current.name.title3 }}</span>
		</h1>
		<p>
			{{ receta_current.text }}
		</p>
	</div>
	<div class="section4 lima4ColorClass ingredientes">
		<!-- <h1>
			<span class="title2">ingredientes</span>
		</h1>
		<div class="heartSection">
			<ul class="greyfonts">
				<li>Lechuga</li>
				<li>Tomate</li>
				<li>Salón</li>
				<li>Aceite de oliva</li>
			</ul>
		</div> -->
		<img src="./assets/img/te_quiero_verde/recetas/{{ receta_current.index }}/ingredientes.png" alt="">
	</div>
	<div class="section5">
		<div class="col-md-3 col-sm-3 limaColorClass step1">
			<h1>
				<span class="title2">1. paso</span>
			</h1>
			<p>{{ receta_current.steps.step1 }}</p>
		</div>
		<div class="col-md-3 col-sm-3 lima5ColorClass step2">
			<h1>
				<span class="title2">2. paso</span>
			</h1>
			<p>{{ receta_current.steps.step2 }}</p>
		</div>
		<div class="col-md-3 col-sm-3 lima6ColorClass step3">
			<h1>
				<span class="title2">3. paso</span>
			</h1>
			<p>{{ receta_current.steps.step3 }}</p>
		</div>
		<div class="col-md-3 col-sm-3 lima7ColorClass step4">
			<h1>
				<span class="title2">4. paso</span>
			</h1>
			<p>{{ receta_current.steps.step4 }}</p>
		</div>
	</div>
</section>