<section id="teQuieroVerde" class="text-center whitefonts">
	<div class="row imgs">
		<div class="col-md-3 col-sm-3">
			<img src="assets/img/home/muestra1.png">
		</div>
		<div class="col-md-3 col-sm-3">
			<img src="assets/img/home/muestra1.png">
		</div>
		<div class="col-md-3 col-sm-3">
			<img src="assets/img/home/muestra1.png">
		</div>
		<div class="col-md-3 col-sm-3">
			<img src="assets/img/home/muestra1.png">
		</div>
	</div>
	<div class="row limaColorClass">
		<h1>
			<span class="title1">te</span>
			<span class="title2">quiero</span>
			<span class="title3">verde</span>
		</h1>
		<p>
			Aprende hacer recetas faciles<br>y saludables para tu corazon
		</p>
	</div>
</section>