<section id="teQuieroVerde" class="text-center whitefonts">
	<div class="row imgs">
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/home/muestra1.png">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/home/muestra1.png">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/home/muestra1.png">
		</div>
		<div class="col-md-3 col-sm-3 col-xs-3">
			<img src="assets/img/home/muestra1.png">
		</div>
	</div>
	<div class="row section1 limaColorClass">
		<h1>
			<span class="title1">te</span>
			<span class="title2">quiero</span>
			<span class="title3">verde</span>
		</h1>
		<p>
			Aprende hacer recetas faciles<br>y saludables para tu corazon
		</p>
	</div>
	<div class="row section2 lima2ColorClass">
		<h1>
			<span style="line-height: 51px; font-size: 115%;" class="title2">prepáralo</span>
		</h1>
		<img src="assets/img/te_quiero_verde/heart.png" class="heart">
		<div class="links">
			<a href="" class="prev">atras</a>
			<a href="" class="next">sigue</a>
		</div>
	</div>
	<div class="row section3 lima3ColorClass">
		<h1>
			<span class="title1">ensalada</span>
			<span class="title2">de</span>
			<span class="title3">salmón</span>
		</h1>
		<p>
			El salmón te ayuda a mantener bien tu colesterol,<br>remplázala por carnes rojas.
		</p>
	</div>
	<div class="row section4 lima4ColorClass">
		<h1>
			<span class="title2">ingredientes</span>
		</h1>
		<div class="heartSection">
			<ul class="greyfonts">
				<li>Lechuga</li>
				<li>Tomate</li>
				<li>Salón</li>
				<li>Aceite de oliva</li>
			</ul>
		</div>
	</div>
	<div class="row section5">
		<div class="col-md-3 col-sm-3 limaColorClass step1">
			<h1>
				<span class="title2">1. paso</span>
			</h1>
			<p>Pica la lechuga y el tomate<br>en paqueños pedazos.</p>
		</div>
		<div class="col-md-3 col-sm-3 lima5ColorClass step2">
			<h1>
				<span class="title2">2. paso</span>
			</h1>
			<p>Hornea el salmón, así es<br> más sano, luego pícalo en<br>pequeños pedazos.</p>
		</div>
		<div class="col-md-3 col-sm-3 lima6ColorClass step3">
			<h1>
				<span class="title2">3. paso</span>
			</h1>
			<p>Agrega aceite de oliva, no<br>vinagreta, estas tienen<br>mucha grasa.</p>
		</div>
		<div class="col-md-3 col-sm-3 lima7ColorClass step4">
			<h1>
				<span class="title2">4. paso</span>
			</h1>
			<p>Agregale sal a tu gusto si<br>eres hipertenso, poca, y si<br>eres hipotenso un poco más.</p>
		</div>
	</div>
</section>